.wrapper-adm {
  width: 600px;
  margin: 0 auto;
  padding: 10px 0;
  background: 0;
  background-color: 0;
  border-radius: 0px;
  box-shadow: 0;
}

section {
  width: 500px;
  margin: 30px auto;
  padding: 15px 20px;
  background: #f5f5f5;
  background-color: rgba(245, 245, 245, 0.95);
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.wrapper-adm section:first-of-type {
  padding: 0 20px;
}

.paginator {
  margin: 0 auto;
  margin-top: -20px;
  text-align: right;
  width: 540px;
  padding: 5px;
  white-space: nowrap;
}

.paginator a,
.paginator span {
  display: inline-block;
  min-width: 10px;
  height: 20px;
  padding: 0 5px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  font-weight: bold;
}

.paginator .prev {
  margin-right: 10px;
}

.paginator .next {
  margin-left: 10px;
}

.paginator .current {
  background-color: #16a085;
}

.paginator .disabled {
  opacity: 0.3;
}

.paginator a:hover {
  background-color: #2ecc71;
}

table {
  position: relative;
  width: 100%;
}

td {
  width: 30%;
  padding: 5px;
  box-sizing: content-box;
}

td:first-child {
  width: 10%;
}

.row {
  cursor: pointer;

}

.row:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.38);
}

.btn-control {
  display: block;
  position: absolute;
  right: -90px;
  width: 50px;
}

h1 {
  width: 540px;
  margin: 0 auto;
}

.wrapper-adm {
  width: 650px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  margin-top: 20px;
}


