body {
  background-color: white;
}

form {
  width: 600px;
  margin: 50px auto;
  padding: 15px 20px;
  background: #f5f5f5;
  background-color: rgba(245, 245, 245, 0.95);
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

label {
  display: block;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

label:first-child {
  margin-top: 0;
}

input[type="text"],
input[type="password"],
input[type="date"],
textarea {
  width: 100%;
  border: 1px solid #ccc;
  padding: 4px 5px;
  margin-bottom: 5px;
  background: white;
  border-radius: 5px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="password"]:focus {
  box-shadow: 0 0 5px rgba(50, 200, 255, 0.5);
  outline: none;
}

.btn-edit {
  display: block;
  margin-top: 1em;
  padding: 5px 15px;
  font-weight: bold;
  color: #333;
  background: white;
  border: none;
  border-radius: 12px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  text-shadow: 0 1px 1px white;
}

.btn-edit:hover {
  background-color: lightskyblue;
}
.btn-edit:active {
  background-color: rgba(0,150,250,1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5);
}

.cst form,
.wrapper-adm {
  width: 600px;
  margin: 0 auto;
  padding: 10px 0;
  background: 0;
  background-color: 0;
  border-radius: 0px;
  box-shadow: 0;
}

.cst input {
  margin-bottom: 5px;
}

section {
  width: 550px;
  margin: 30px auto;
  padding: 15px 20px;
  background: #f5f5f5;
  background-color: rgba(245, 245, 245, 0.95);
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.cst img {
  flex-shrink: 0;
}

.wrapper {
  display: flex;
}

.cst textarea {
  margin-top: 10px;
}

fieldset {
  border: none;
}

.btn-set {
  display: flex;
  justify-content: flex-end;
  padding: 0;
}
