<form class="login" [formGroup]="loginForm" (ngSubmit)="login()">
  <label for="login">Логин</label>
  <input type="text" id="login" name="login" required formControlName="username">

  <label for="password">Пароль</label>
  <input type="password" id="password" name="password" required formControlName="password">

  <input type="button" value="Войти" type="submit">

  <div *ngIf="error" class="error">{{error}}</div>
</form>
